
/* Seleccion de elementos por id */
#div1{
  border: 2px solid rgb(0, 255, 13);
}
#div2{
  border: 8px dotted black;
}
#div3{
  border: 4px dashed green;
}
#div1, #div2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Seleccion de elementos por tipo */
div{
  font-size: 20px;
  text-align: center;
}

/* Seleccion de elementos por clase */
.azul{
  background-color: blue;
}
.rojo{
  background-color: red;
}

/*-----------*/
div h3{
  color: white;
}


